body {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.fontTitle{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}

.textError {
    font-size: 1rem;
}